/* GENERALES */
body {
    overflow: hidden;
    /* background: url('../images/fondo.jpg');
    background-size: cover; */
    /* padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    /* padding-top: env(safe-area-inset-top); /* iOS 11.2 */
    /* margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    /* margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}

body, .menu {
    /* background: rgb(17, 17, 23) !important; */
}

.nav {
    color:white;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.3);
            box-shadow: 0 1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    height:45px;
}

.container-fluid {
    background: white;
    height: 100vh;
}

.nav,
.aviso-header,
.aviso-btn,
.btn-continuar,
.btn-checar {
    background: rgb(235,0,41);
}

.btn-continuar,
.btn-checar {
    box-shadow: inset 0 -15px 0 rgba(0,0,0,.07);
}

.is-left,
.is-center,
.is-right,
.is-half {
    -webkit-transition: all 330ms ease-in;
    -o-transition: all 330ms ease-in;
    transition: all 330ms ease-in;
    will-change: transform;
}

.is-left {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.is-center {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}

.is-right {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}

.is-half {
    -webkit-transform: translateX(65%);
        -ms-transform: translateX(65%);
            transform: translateX(65%);
}

.is-hidden {
    display: none;
}

.is-importHighHead {
    background: rgb(133,13,4) !important;
    color:white;
}

.is-importHighBody {
    background: rgb(192,14,0) !important;
    color:white;
}

.is-importMidHead {
    background: rgb(151,118,1) !important;
    color:white;
}

.is-importMidBody {
    background: rgb(207,163,2) !important;
    color:white;
}

.is-importLowHead {
    background: rgb(5,97,28) !important;
    color:white;
}

.is-importLowBody {
    background: rgb(15,151,49) !important;
    color:white;
}

.fa-bars,
.fa-angle-left {
    cursor: pointer;
}

.m-top20 {
    margin-top:20px;
}

label {
    color: #818181;
    font-size: 14px;
}

.is-not-vanish {
    -webkit-animation-name: vanIn;
            animation-name: vanIn;
    -webkit-animation-duration:330ms;
            animation-duration:330ms;
    opacity: 1;
}

.is-vanish {
    -webkit-animation-name: vanOut;
            animation-name: vanOut;
    -webkit-animation-duration: 330ms;
            animation-duration: 330ms;
    opacity: 0;
}

@-webkit-keyframes vanIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes vanIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes vanOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes vanOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.btnMenu-back {
    height: 45px;
    width: 45px;
    z-index: 100;
    left: -14px;
}

.btnMenu-update {
    height: 45px;
    width: 45px;
    z-index: 100;
    right: -14px;
}

/* Generales */

/* Menu */

.menu {
    /* width: 60vw; // ANCHO ORIGINAL */
    width: 100vw;
}

.menu > .container {
    padding: 0;
}

.menu-logo {
    margin:20px 0 !important;
}

.menu-logo img {
    width: 90%;
}

.menu-item {
    cursor: pointer;
    /* padding: 15px;
    background: rgb(241,241,242); */
    color: white;
    font-size: 16px;
    padding: 10px 0px;
}

.menu-icon {
    width: 20px;
}

.menu-text {
    width: 140px;
}

/* Menu */

/* Registro */
.UsuarioLocalizado {
    height: 25px;
}

.tecnicoImage {
    overflow: hidden;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
            box-shadow: 0 2px 6px rgba(0,0,0,.2);
    margin: 0 auto;
}

.actCamera {
    background: gray;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    color: white;
}

.actCamera img {
    width: 87px;
}

.userName {
    text-transform: capitalize;
}

/* Registro */

/* noticias */
.noticia-wrapper {
    height: calc(100vh - 60px);
    overflow-x: hidden;
    width: 100%;
}

.noticia-item {
    padding: 10px 15px;
}

.noticia-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 240px;
}

.noticia-icon {
    width: 10px;
}

.noticia-fill {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.notice.typeA {
    width: 100%;
}

.notice.typeA > .notice-header {
    background: rgb(87,87,87);
    color:white;
    padding:10px;
}

.notice.typeA > .notice-header > .notice-title {
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
    font-size: 14px;
}

.notice.typeA > .notice-header > .notice-date {
    font-size: 10px;
}

.notice.typeA > .notice-body {
    background: rgb(122,122,122);
    color:white;
    word-wrap: break-word;
    font-size:12px;
    padding:20px 15px;
    width:65%;
}

.notice.typeA > .notice-body > .notice-text {
    width:90%;
}


/* noticias */

/* Aviso */
.aviso-body {
    background: #f0f0f0;
    font-size: 14px;
    height:calc(100vh - 85px);
    overflow-y: scroll;
}

.aviso-h6 {
    background:#c30000;
    color:white;
    display: block;
    margin-bottom: 5px;
    padding: 3px 10px 5px;
}

/* Aviso */

/* Acerca */
.acerca-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}
/* Acerca */

.abDireccion {
    font-size: 16px;
    font-weight: bold;
}

/* Perfil */
#abName, #abLast {
    text-transform: capitalize;
}
/* Perfil */
